@page
@model Opex.Pages.loginModel
@{
    ViewData["Title"] = "ورود به پنل کاربری";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Opex</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href=""
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <title>درخواست صدور پروانه کسب</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- CSS Files -->
    <link href="~/css/themify-icons-demo.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
    <link href="~/css/intlTelInput.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="/css/boot.css" />
    <link rel="stylesheet" type='text/css' href="/css/fontawesome.css" />
    <link rel="stylesheet" type='text/css' href="/css/font-awesome.css" />
    <link rel="stylesheet" type='text/css' href="/css/fontawesome.min.css" />
    <link rel="stylesheet" type='text/css' href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type='text/css' href="/css/style.css" />
    <!-- Fonts and Icons -->
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/css/themify-icons.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <div class="pull-left">
                        <img src="~/img/t-logo.png" style="width:50%;height:50%" />
                    </div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Index"><span class="glyphicon glyphicon-home"></span> صفحه اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Rols"><span class="glyphicon glyphicon-list"></span> قوانین</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Register"><span class="glyphicon glyphicon-list-alt"></span> ثبت عضویت</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Correspondence/Index"><span class="glyphicon glyphicon-tasks"></span> مکاتبات</a>
                        </li> 
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="col-sm-4 col-sm-offset-4 " style="margin-top:5%;">
            <div class="wizard-container">
                <div class="card wizard-card" style="min-height:330px">
                    <div class="wizard-header" style="font-family:SDF">
                        <h3 class="wizard-title">ورود به پنل کاربری</h3>
                        <br />
                        <p class="category"> درصورتی که قبلا ثبت درخواست انجام داده اید وارد پنل درخواست شوید.</p>
                        
                    </div>
                    <div class="col-sm-10 col-sm-offset-1 ">

                        @if (TempData["message"] != null)
                        {<div class="alert-danger">  @TempData["message"] </div>}
                        @if (ViewData["Error"] != null)
                        {<div class="alert-danger">  @ViewData["Error"] </div>}

                        <!-- Form -->
                        <form method="post" class="text-center" style="color: #757575;padding:15px">

                            <!-- Name -->
                            <div class="md-form mt-3">
                                @Html.TextBoxFor(m => m.LoginModels.Username, new { @class = "form-control mb-3", id = "materialSubscriptionFormPasswords", maxlength = "10", onkeypress = "javascript:return isNumber(event)", style = "direction:ltr", placeholder = "نام کاربري" })
                                @Html.ValidationMessageFor(m => m.LoginModels.Username, " ", new { @class = "text-danger" })
                                <label for="materialSubscriptionFormPasswords"> </label>
                            </div>
                            <!-- E-mai -->
                            <div class="md-form">
                                @Html.PasswordFor(m => m.LoginModels.Password, new { @class = "form-control mb-3", style = "direction:ltr", placeholder = "کلمه عبور" })
                                @Html.ValidationMessageFor(m => m.LoginModels.Password, " ", new { @class = "text-danger" })
                                <label for="materialSubscriptionFormPasswords"> </label>
                            </div>
                            <!-- Sign in button -->
                            <button type="submit" name="response" asp-page-handler="LogIn" class="btn btn-wd btn-primary btn-block">ورود</button>
                        </form>
                        <!-- Form -->

                    </div>
                   
                    </div>
                </div>
        </div>
    </div>

    <footer class="border-top footer text-muted" style="margin-top:7%">
        <div class="container text-dark text-center ">
            &copy; 1398 - اتحادیه صادرکنندگان فرآورده های نفت، گاز و پتروشیمی ایران - <a href="http://www.opex.ir">Opex</a> - <a asp-area="" asp-page="/Privacy">حریم خصوصی</a>
        </div>
    </footer>


    <!--   Core JS Files   -->
    <script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--  Plugin for the Wizard -->
    <script src=" /js/demo.js" type="text/javascript"></script>
    <script src=" /js/paper-bootstrap-wizard.js" type="text/javascript"></script>

    <!--  More information about jquery.validate here: https://jqueryvalidation.org/	 -->
    <script src=" /js/jquery.validate.min.js" type="text/javascript"></script>

</body>
</html>
