@page
@model Opex.Pages.Questionnaire.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblQuestionnaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            1- عضو كدام تشكل يا انجمن صنفي هستيد؟  (با ذكر تاريخ عضويت)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question1)
        </dd>
        <dt>
            - اتاق های بازرگانی سراسر کشور: (لطفاً نام ببرید)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question11)
        </dd>
        <dt> 
            - اتاق های مشترک ایران با سایر کشورها  (لطفاً نام ببرید)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question12)
        </dd>
        <dt>
            اتحادیه ها و تشکل های صنفی دیگر  (لطفاً نام ببرید)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question13)
        </dd>
        <dt>
            هرگونه تشکل یا سازمان و ارگانهای غیر دولتی  (لطفاً نام ببرید)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question14)
        </dd>
        <dt>
            2- آیا اعضاء هیئت مدیره یا مدیر عامل آن شرکت محترم عضو هیأت مدیره تشکل های دیگر صنفی، اقتصادی، اجتماعی و امثالهم میباشد؟ (لطفاً نام ببرید)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question2)
        </dd>
        <dt>
            3- آیا اعضاء هیئت مدیره یا مدیر عامل آن شرکت محترم عضو هیأت مدیره یا مدیر عامل و یا سهامدار عمده شرکت های دیگری نیز می باشند؟
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question3)
        </dd>
        <dt>
            لطفاً نام هر یک از شرکت ها و سمت فرد مربوطه و نوع فعالیت شرکت مزبور را مرقوم فرمائید. (لطفاً نام ببرید)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question3Disp)
        </dd>
        <dt>
            4- آیا آن شرکت در خارج از ایران دارای دفتر یا نمایندگی و یا شعبه می باشد؟
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question4)
        </dd>
        <dt>
            لطفاً اسم کشورها را مرقوم فرمائید:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question4Disp)
        </dd>
        <dt>
            5- در صورت نیاز به برگزاری جلسات و یا پیگیری کارهای اتحادیه در سازمان ها، نهادها و مراجع قانونی تحت پوشش سه قوه مملکتی آیا اتحادیه می تواند از کمک آن عضو محترم بهره گیری نماید؟
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblQuestionnaire.Question5)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblQuestionnaire.Qid">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
