@page
@model Opex.Pages.Binarys.IndexModel

@{
    ViewData["Title"] = "لیست مدارک";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<input type="hidden" id="selectedTab" value="upload" />
<div class="tab-pane" id="upload">
    <div class="col-md-12" style="margin-top:85px">
        <h2>لیست مدارک</h2>
        <div class=" alert-success">@TempData["Sucsses"]</div>
        @if (Model.ShowMessage)
        {
            <div class="alert alert-success" role="alert">
                @Model.Message
            </div>
        }
        @if (@TempData["Error"] != null)
        {
            <div class="alert alert-primary">
                @TempData["Error"]
            </div>
        }
        <div class="row">
            <a  class='btn btn-next btn-fill btn-primary btn-wd' asp-page="Create"><span class="glyphicon glyphicon-plus"></span>&nbsp; ثبت مدرک </a>
            
        </div>
        <hr />
        <div class="row">
            @if (Model.Binaryslist.Count>0)
            {
                int i = 0;
                var Documents = Model.Binaryslist;
                <div class=" col-md-12   custyle">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th class="text-right">ردیف</th>
                                <th class="text-right">عنوان مدرک</th>
                                <th class="text-right">توضیحات</th>
                                <th class="text-right">فایل</th>
                                <th class="text-right">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Binaryslist)
                            {
                                i++;
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @item.Subject
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>@if (item.Binary != null)
                                { 
                                    <a href="/Documents?id=@item.BinaryId" target="_blank"><span class="glyphicon glyphicon-eye-open "></span> مشاهده فایل</a>
                                }
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.BinaryId"><span class="glyphicon glyphicon-pencil"></span></a> |
                                    <a asp-page="./Delete" asp-route-id="@item.BinaryId"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <br />
    </div>
</div>

@section Footer{
    <div class="wizard-footer">
        <div class="pull-right">
            <a class='btn btn-next btn-fill btn-danger btn-wd' asp-page="/RequestVerify/Index">مرحله بعدی</a>
            @if (User.Identity.IsAuthenticated)
            { 
                <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd'
                       name='finish' value='تکمیل ثبت نام' />}
        </div>
        <div class="pull-left">
            <a class='btn btn-next btn-fill btn-default btn-wd' asp-page="/Questionnaire/Index">مرحله قبلی</a>
             
        </div>
        <div class="clearfix"></div>
    </div>

}
@section Scripts{
    <!--   Core JS Files   -->
    <script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/js/register.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--  Plugin for the Wizard -->
    <script src=" /js/demo.js" type="text/javascript"></script>
    <script src=" /js/paper-bootstrap-wizard.js" type="text/javascript"></script>

    <!--  More information about jquery.validate here: https://jqueryvalidation.org/	 -->
    <script src=" /js/jquery.validate.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var first = $('#selectedTab').val();
            var mid = $('#selectedTab').val();
            if (first == "rquest-type") {
                $('#wizard').bootstrapWizard('show', 1);
            }
            else {
                $('#wizard').bootstrapWizard('show', 0);
            }
            switch (mid) {
                case "type":
                    $('#wizard').bootstrapWizard('show', 0);
                    break;

                case "facilities":
                    $('#wizard').bootstrapWizard('show', 1);
                    break;
                case "payment":
                    $('#wizard').bootstrapWizard('show', 2);
                    break;
                case "question":
                    $('#wizard').bootstrapWizard('show', 3);
                    break;
                case "upload":
                    $('#wizard').bootstrapWizard('show', 4);
                    break;
                case "description":
                    $('#wizard').bootstrapWizard('show', 5);
                    break;
                case "Verify1":
                    $('#wizard').bootstrapWizard('show', 6);
                    break;

            }

        });
    </script>
}
