@page
@model Opex.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "پرداخت های مالی";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<input type="hidden" id="selectedTab" value="verify2" />
<div class="tab-pane" id="verify2">
    <div class="col-md-12" style="margin-top:105px">
        <div class="row text-center">
            <br />
            <h4><strong>پرداخت های مالی</strong> </h4>
        </div>
        <div class="row">
            @if (Model.TblPayments != null)
            {
                int i = 0;
                var Documents = Model.TblPayments;
                <div class=" col-md-12   custyle">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th class="text-right">ردیف</th>
                                <th class="text-right">پرداختی بابت</th>
                                <th class="text-right">شماره سند</th>
                                <th class="text-right">تاریخ پرداخت</th>
                                <th class="text-right">مبلغ قابل پرداخت</th> 
                                <th class="text-right">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TblPayments)
                            {
                                var pay = item.TotalPrice.ToString();
                                i++;
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @item.PaymentAbout
                                    </td>
                                    <td>
                                        @item.FishNum
                                    </td>
                                    <td>
                                        @item.FishDate
                                    </td>
                                    <td>
                                        <div class="text-success">
                                            <strong>
                                                <span id="Total">@Opex.Helpers.Services.FormatNumber(item.TotalPrice.ToString()).ToString()
                                                </span>ریال
                                            </strong>
                                        </div>

                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.PaymentId"><span class="glyphicon glyphicon-pencil"></span> ویرایش فیش</a> 
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>


@section Footer{
    <div class="wizard-footer">
        <div class="pull-right">

            @if (User.Identity.IsAuthenticated)
            {
                <a class='btn btn-next btn-fill btn-danger btn-wd' asp-page="/Finish/Index">مرحله بعدی</a>
                <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd'
                       name='finish' value='تکمیل ثبت نام' />}
        </div>
        <div class="pull-left">
            <a asp-page="/ResultAccept/Index" class='btn btn-previous btn-default btn-wd' name='Previous'>مرحله قبلی</a>
        </div>
        <div class="clearfix"></div>
    </div>

}
@section Scripts{
    <!--   Core JS Files   -->
    <script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/js/register.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--  Plugin for the Wizard -->
    <script src=" /js/demo.js" type="text/javascript"></script>
    <script src=" /js/paper-bootstrap-wizard.js" type="text/javascript"></script>

    <!--  More information about jquery.validate here: https://jqueryvalidation.org/	 -->
    <script src=" /js/jquery.validate.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#wizard').bootstrapWizard('show', 7);
            $("#Total").replace(/(\d)(?=(\d{3})+(?!\d))/, '$1,');
            }
        );
    </script>
}
