@page
@model Opex.Pages.OfficeMember.DetailsModel

<div>
    <h4>TblOfficeMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.Lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.Lname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.FatherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.FatherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.ShShenasnameh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.ShShenasnameh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.ShMelli)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.ShMelli)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.CenterOfficeTell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.CenterOfficeTell)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.ProductiveUnitTell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.ProductiveUnitTell)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.PostAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.PostAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.CenterOfficeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.CenterOfficeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.WebAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.WebAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.OfficeRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.OfficeRole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.SystemCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.SystemCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.CodeYekta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.CodeYekta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.BusinessName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.BusinessName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.CompanyRegisterPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.CompanyRegisterPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.ConnectorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.ConnectorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.ConnectorRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.ConnectorRole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.Reshteh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.Reshteh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.DReshte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.DReshte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.LicenceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.LicenceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeMember.WorkeFlow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TblOfficeMember.WorkeFlow)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblOfficeMember.MemberId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
